
version: '2'

services:
  mail:
    build: .
  
    volumes:
  
    # Standard volumes which are always required:
    - ./volumes/var-spool-postfix/:/var/spool/postfix/:rw
    - ./volumes/opt-mailman-core/:/opt/mailman/core   
  
    # Optional: Let's encrypt SSL certificates dir:
    #- ../letsencrypt/ssl/:/ssl-letsencrypt/:ro

    environment:

    # All e-mail hosts you want to receive e-mail for:
    - POSTFIX_EMAIL_HOSTS=mymaindomain.com,myotherdomain.co.uk

    # The main e-mail domain used for sending:
    - POSTFIX_MAILNAME=mymaindomain.com

    # Folder with let's encrypt SSL certs to be used for the TLS (optional):
    #- POSTFIX_CERT_DIR=/ssl-letsencrypt/mymaindomain.com/

    # List of e-mail accounts and where they are to be forwarded:
    - POSTFIX_MAIL_FORWARDS=contact@mymaindomain.com=mypersonalemail@external-provider.example.com, contact@mymaindomain2.com=myemail2@other-provider.example.com

    # To which account to send all non-existing catch-all emails:
    - POSTFIX_CATCH_ALL_TARGET_USER=contact

    # SMTP LOGIN for all users (generated through MAIL_FORWARD list) for sending mail:
    - POSTFIX_SMTP_LOGIN=contact=soMeRanDoMpAsSwoRd

    # WHETHER MAILMAN SHOULD BE USED (requires adding maxking/docker-mailman
    # containers below as from their standard docker-compose.yml, and changing
    # the/opt/mailman/web volume to ./volumes/opt-mailman-core instead):
    - MAILMAN_ENABLED=false

    ports:
    - "587:587"    # SMTP server (postfix) / SMTP
    - "25:25"      # SMTP server (postfix) / SMTP
    - "8000:8000"  # Mailman interface (Hyperkitty) / HTTP

# AN OPTIONAL STATIC FILE WEBSERVER (for use with maxking/docker-mailman)
#  mailman-static:
#    build:
#      context: ./resources/
#      dockerfile: ./resources/mailman-static-nginx-build.txt
#    environment:
#    - VIRTUAL_HOST=lists.example.com
#    volumes:
#    - ./resources/mailman-static-nginx-conf.tmpl:/conf-template-default.conf:ro
#    - ./volumes/opt-mailman-web-data-static/:/opt/mailman-web-data/static:ro


